@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


        .material-symbols-outlined {
            font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
            display: inline-block;
            vertical-align: middle;
        }
        .editorial-shadow {
            box-shadow: 0px 12px 32px rgba(25, 28, 26, 0.06);
        }
        .bento-card {
            transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        }
        .bento-card:hover {
            transform: translateY(-4px);
        }
    

@theme {
  --color-on-secondary-container: #506858;
  --color-primary-container: #0b5233;
  --color-on-surface: #191c1a;
  --color-tertiary-fixed-dim: #95d5a7;
  --color-on-error-container: #93000a;
  --color-background: #f8faf5;
  --color-tertiary: #00391d;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-fixed: #002111;
  --color-secondary: #4c6454;
  --color-on-secondary-fixed: #092013;
  --color-surface-tint: #2a6a49;
  --color-error-container: #ffdad6;
  --color-outline: #707972;
  --color-secondary-container: #cbe6d2;
  --color-on-primary: #ffffff;
  --color-surface-container-low: #f2f4ef;
  --color-secondary-fixed: #cee9d5;
  --color-on-tertiary-container: #85c497;
  --color-on-primary-fixed-variant: #0a5132;
  --color-outline-variant: #bfc9c0;
  --color-tertiary-fixed: #b0f1c2;
  --color-primary-fixed-dim: #93d5ac;
  --color-on-secondary: #ffffff;
  --color-surface-dim: #d8dbd6;
  --color-surface-container: #ecefea;
  --color-on-tertiary-fixed: #00210e;
  --color-on-error: #ffffff;
  --color-on-surface-variant: #404942;
  --color-inverse-surface: #2e312e;
  --color-error: #ba1a1a;
  --color-primary: #003921;
  --color-on-background: #191c1a;
  --color-surface-variant: #e1e3de;
  --color-tertiary-container: #11522f;
  --color-inverse-primary: #93d5ac;
  --color-primary-fixed: #aef1c7;
  --color-on-secondary-fixed-variant: #344c3d;
  --color-surface-container-high: #e6e9e4;
  --color-surface: #f8faf5;
  --color-surface-container-highest: #e1e3de;
  --color-surface-bright: #f8faf5;
  --color-on-primary-container: #83c49c;
  --color-on-tertiary: #ffffff;
  --color-inverse-on-surface: #eff1ec;
  --color-secondary-fixed-dim: #b2cdb9;
  --color-on-tertiary-fixed-variant: #10512e;
  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}
